body {
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #4d4d4d;
  background: #ebebe0;
}

h1 {
  text-align: center;
  font-size: 50px;
}

h3 {
  text-align: center;
}

/* Cards */
.card-container {
  margin: 50px auto;
  width: 100%;
  /* height: 600px; */
  background: #669999;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

article {
  width: 300px;
  height: 450px;
  text-align: center;
  margin: 3% 0;
  padding-top: 30px;
  border-radius: 16px;
  border: 16px solid #e5e5e5;
  box-shadow: 5px 5px 5px 0 #666;
}

p {
  margin: 3px 16px;
  font-weight: 300;
  background-color: #fff;
  border-radius: 5px;
}

.titles {
  font-size: 25px;
}

img {
  height: 150px;
  padding: 30px;
}

article:hover {
  cursor: pointer;
}

.killer-deck {
  background: #738c73;
  background-image: radial-gradient(#85ad99 15%, transparent 16%),radial-gradient(#669966 15%, transparent 16%);
  background-size: 35px 35px;
  background-position: 0 0, 20px 20px;
}

.killer-text {
  text-align: left;
}

.indent {
  padding-left: 3px;
}

.weapon-deck {
  background-color: #c2b2a3;
  background-image: radial-gradient(#ede6de 15%, transparent 16%),radial-gradient(#cc9966 15%, transparent 16%);
  background-size: 35px 35px;
  background-position: 0 0, 20px 20px;
}

.room-deck {
  background: #996666;
  background-image: radial-gradient(#d6c2c2 15%, transparent 16%),radial-gradient(#c27070 15%, transparent 16%);
  background-size: 35px 35px;
  background-position: 0 0, 20px 20px;
}


/* Reveal */
.reveal {
  align-items: center;
  display: flex;
  flex-direction: column;
}

h2 {
  text-align: center;
}

button {
  padding: 16px 25px;
  background: #d65c5c;
  border: 2px solid #ccc;
  font-size: 20px;
  border-radius: 8px;
  align-items: center;
  margin-bottom: 25px;
}

.reset {
  display: none;
  background: #85ad99;
}

/* Footer */
footer {
  background: #fff;
  padding: 12px 0;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}


.footer {
  width: 100%;
  bottom: 0;
  font-family: Verdana, sans-serif;
  text-align: center;
  font-size: 12px;
}

footer a {
  text-decoration: none;
  color: #000;
}

footer a:hover {
  color: #d65c5c;
}

footer span {
  font-size: 20px;
}

footer img {
  height: 19px;
  padding: 0;
}